extends layout

block content
  .jumbotron
    h1 #{title}
  .row
      .col-12.col-md-8
          .container
              .row
                p.text This is the Chess App, an app where you can look at games, or where you can look at Player data

  
 

