extends layout

block content
  .jumbotron
    h1 #{title}
  .row
      .col-12.col-md-8
          .container
              .row
                p.text This application accomplishes the following: 
                ul
                  li Makes a call to the Chess.com API to retrieve professional and my own game data
                  li
                    | Takes what I need from their response and shapes the data how I would most like to use it
                  li The data is then added to the mongo database in the shape I designed
                  li The front end then makes calls to my own API
                  li the backend send a response for the frontend to then display
                
                

  
 

